@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary-color: #f4c20d;
  --secondary-color: #f7d154;
  --dark-color: #0a0a0a;
  --light-color: #ffffff;
  --gray-color: #fdf7e3;
  --text-color: #0a0a0a;
  --bg-color: #fff9d5;
  --card-bg: #ffffff;
  --border-color: #f4c20d;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease;
}

[data-theme='dark'] {
  --dark-color: #ffffff;
  --light-color: #0a0a0a;
  --gray-color: #1a1a1a;
  --text-color: #ffffff;
  --bg-color: #1a1a1a;
  --card-bg: #1a1a1a;
  --border-color: #f4c20d;
  --shadow-color: rgba(247, 209, 84, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: 'Permanent Marker', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

/* MENU */
header {
  background: #00000080;
  box-shadow: inset 0 -1px 0 var(--border-color);
  padding: 10px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-list a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  padding: 8px 12px;
}

.nav-list a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}

.theme-toggle {
  background: #ffffff50;
  color: var(--primary-color);
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 2px 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 20px;
}

.theme-toggle:hover {
  border: 1px solid var(--primary-color);
  transition: 0.5s;
}

/* HOME */
.sobre-content {
  background: url('https://jornalismorio.espm.br/wp-content/uploads/2021/12/confira-agora-os-25-melhores-animes-que-ja-foram-criados-1.jpg')
    no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}

.dark-overlay {
  background: #00000030;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  padding: 50px 20px;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-description {
  font-size: 1.8rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 6px;
  margin-top: 20px;
  border: none;
}

.btn a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--secondary-color);
  transition: 0.3s;
}

/* SEARCH */
.search-container {
  background: #00000080;
  margin: 62px 0 0 0;
  text-align: center;
  padding: 20px;
}

.search-box input[type='search'] {
  width: 20%;
  padding: 5px;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  margin-right: 10px;
}
.search-box select {
  width: 10%;
  padding: 5px;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
}

/* CATALAGO */
.sub-title {
  text-align: center;
  margin: 10px 0;
  font-size: 2.2rem;
}

.container-card-favorito,
.container-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 5px;
}

.card {
  background-color: var(--card-bg);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px var(--shadow-color);
  transform: scale(1.03);
  transition: 0.5s;
}

.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.card-content {
  padding: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header i {
  font-size: 1.2rem;
}

.card-title {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.card-description {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.2;
}

.card-lancamento {
  margin-top: 10px;
  color: #999;
}

.fa-solid.fa-heart {
  color: red;
}
